<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div>
        <h1>Site is under working</h1>
        <h3>All Project links is available soon. <br> Till use Github links</h3>

        <main>
            <h3>1. Socail Web App</h3>
            <a href="https://github.com/Mr-TRION/social-webapp" target="_blank">Github Link</a>
            <a href="https://social-web-app-e15cf6504909.herokuapp.com/" target="_blank">Live Link</a>
        </main>
    </div>

</body>

</html>